.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background-color: #f1c40f;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 1080px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: #fff5d4;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.6rem;
  padding: 2rem;
}

.card {
  border: 1px solid black;
  width: 160px;
  height: 240px;
  border-radius: 12px;
  border-width: 1px 4px 4px 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #e3f7f7;
}

.heading {
  text-align: center;
  margin-top: 1.6rem;
  margin-bottom: 1rem;
  font-size: 40px;
}

.type-container-home {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.type-home {
  border: 1px solid black;
  border-radius: 12px;
  width: 68px;
  text-align: center;
  border-width: 1px 4px 4px 1px;
  background: #6beaa0;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.line {
  display: block;
  border: 2px solid black;
  width: 100px;
  margin: -14px auto 16px auto;
}