.box-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #fff5d4;
}

.card-details {
  border: 1px solid black;
  width: 300px;
  height: 360px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  background-color: #e3f7f7;
}

.type-container {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: 0.6rem 0;
}

.type {
  border: 1px solid black;
  border-radius: 12px;
  width: 68px;
  text-align: center;
  border-width: 1px 4px 4px 1px;
  background: #6beaa0;
}

.home-btn {
  margin-top: 2rem;
  background-color: #f1c40f;
  padding: 2px;
}

.home-btn:hover {
  background-color: #fff;
  border: 2px solid #f1c40f;
  border-width: 1px 4px 4px 1px;
  color: #f1c40f;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}
